*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}
.margen_interno{
    padding: 0 50px;
}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: rgb(33, 155, 33);*/
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    
    color: #fff;
}
    header .menu{
        background: rgb(0, 0, 0,.1);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px rgba(255, 255, 255, .5);
    }
        header .menu .logo{
           color: #fff;
        }
    header .menu .logo img{
        width: 130px;
        vertical-align: top;
    }
    header .menu .logo a{
        color: #fff;
        text-decoration: none;
        line-height: 70px;/*Alinea hacia el centro*/
    }
        header .menu nav{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        header .menu nav a{
            text-decoration: none;
            color: #fff;
            font-size: 1em;

            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
            text-decoration: none;
            flex-grow: 1;
        }

    .cajaT{
        display: flex;
        height: 520px;
    }
section{
    display: flex;
    width: 100%;
    /*flex-direction: row;
    flex-wrap: wrap;*/
}
    .section1{
        background-color: aqua;
    }
    .articulos{
        display: flex;
        flex: 2 1 70%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*align-items: center;*/
    }
        article{
            flex: 1 1 40%;
            letter-spacing: 1px;
            margin: 10px 10px 0 0px;
            flex: 1 1 45%;
            justify-content: center;
        }
        article div{
        	with: 25%;
        	
        	background-color:red;
        }
            
    aside{
        display: flex;
        flex: 1 1 30%;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        
        background-color: brown;
    }
        aside .asideC{
            display: flex;
            padding: 1px;
            background-color: chocolate;
            margin: 10px;
            /*height: 150px;*/
        }
            aside .asideC img{width: 100%; margin: 1px;}

footer{
    /*display: flex;*/
    width: 100%;
    background-color: black;
    color: #fff;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-self: flex-end;/*para que se vaya al final del contenedor*/
}
