*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content{
  background-color: darkgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  /*flex-flow: row wrap; Atajo*/
}
.menu{
  background-color: rgb(102, 15, 95);
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;/*Pone los elementos en linea*/
  flex-wrap: wrap;/*Cuando no cabe lo pone debajo*/
}
  .menu .logo {
    color: white;
  }
  .menu .logo img{
    width: 130px;
    vertical-align: top;
  }
  .menu .logo a{

    color: white;
    text-decoration: none;
    line-height: 70px;/*Alínea hacia el centro*/
  }
  .menu a{
    color: white;
    text-decoration: none;
  }

  .menu nav{
    width: 50%;
    background-color: rgb(0, 0, 0, 0.1);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .menu nav a{
    text-align: center;
    text-decoration: none;
    padding: 10px;

    flex-grow: 1;/*todos abarcan el tamaño que necesiten para que abarquen el 100%*/
  }
.section{
  display: flex;
  padding: 10px;
  /*background-color: rgb(6, 43, 75);*/
  background: url("../img/fondop.jpg");
  flex: 1 1 70%;
  /* 1er valor: flex-shrink que nos permite decidir la proporción de cuanto crecería el elemento */
  /* 2do: en cuanto se encogería respecto a los demás*/
  /*3er: basicamente es el whith*/
}
  article{
    width: 100%;
  }
    article .data{
      background-color: rgb(0, 0, 0, 0.4);
      width: 100%;
      color: white;
      padding-top: 15.5px;
      padding-left: 5.5px;
      padding-right: 5.5px;
      border-top-left-radius: 20px; 
      border-top-right-radius: 20px; 
      border-bottom-left-radius: 20px; 
      border-bottom-right-radius: 20px; 
      /*background-color: rgb(0, 0, 0, 0.1);*/
    }
    .art-v{
    	background-color: rgb(0, 0, 0, 0.4);
    	color: white;
    }
    .art{
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	padding: 2px;
    	justify-content: center;
    	background-color: rgb(0, 0, 0, 0.4);
    	flex: 1 1 100%;
    }
    	.art div{
    		display: flex;
    		flex-direction: row;
    		flex-wrap: wrap;
    		justify-content: center;
    		align-item:center;
    		padding: 2px;
    		flex: 1 1 30%;
    		flex-grow: 1;
    	}

    	.art div:hover{
	    background-color: rgb(165, 16, 158);
    	}
    		.art div img{
    			text-decoration: none;
    			width: 70%;
    			height: auto;
    		}
    		.art div a{
    			text-decoration: none
    		}
    #datatable tr:hover{

      background-color: rgb(165, 16, 158);
    }

    #datatableDF tr td{
     text-align: center;
    }
    #datatableSA tr td{
      text-align: center;
    }
    /*Para el modal en el modulo creditos*/
    .modal-creditos{
      width: 80%;
      margin: 5px auto;
      max-width: none;
      height: 80%;
    }
   

.aside{
  background: url('../img/aside3.jpg');
  flex: 1 1 30%;
  display: flex;/*para manipular a los hijos*/
  flex-wrap: wrap; /*si los elementos no caben, los coloque uno debajo de otro*/
  justify-content: flex-start;
  flex-direction: column;/*para que tenga relacionde columnas*/
  /*un elemento debajo de otro, en columna*/
  padding: 20px;
  height: auto;
}
.aside .asideH{
  color: white;
  background-color: rgb(102, 15, 95);
  border-top-right-radius: 35px;

  border-bottom-left-radius: 35px;
  /*background-color: rgb(111, 111, 112);*/
  height: auto;
  margin: 10px;
  padding-bottom: 10px;
}
  .aside .asideH .imagen h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: gold;
    text-shadow:4px 0 0 black,
    -2px 0 0 white, 0 4px 0 Crimson, 0 -2px 0 Crimson, 4px 1px Crimson,
    -1px -1px 0 Crimson, 1px -1px 0 Crimson, -1px 4px 0 Crimson;
  }
  .aside .asideH .imagen2{
    padding: 10px;
  }
    .aside .asideH .imagen2 #titleForm{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      align-items: center;
    }
  .aside .asideH .imagen2 form fieldset{
    border: 1px solid white;
    border-radius: 35px;
    padding: 0px 15px 0px 15px;
  }
  .aside .asideH .venta{
  	display: flex;
	  	justify-content: center;
	  	flex-direction: column;
	  	flex-wrap: wrap;

  	padding: 20px;

  }
  	 .aside .asideH .venta input{
  	 	width: 50%;
  	 }

  .aside .asideH .imagen2 img{width: 100%;}
form{
  height: auto;
}
.footer{
  display: flex;
  background-color: black;
  align-self: flex-end;
  color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 50px;
  width: 100%;
}
@media screen and (max-width: 800px){
  .content{
    flex-direction: column;
  }
  .menu{
    flex-direction: column;
    padding: 0;/*elimina el padding interior*/
  }
  .menu nav{
    width: 100%;
  }
  .aside{
    flex-direction: row;
  }
  .aside .asideH{
    flex-grow: 1;
  }
}
